*, html {
	padding:0px;
	margin: 0px;
	z-index:0;
}

body {
	background:#ffffff;
	color:#000;
  padding: 0px;
  font: 16px Verdana, Helvetica, sans-serif;
}

#header {
	text-align:right;
	background:#000000;
	padding: 20px 20px 20px 20px;
  color: white;
  font: 14px Verdana, Helvetica, sans-serif;
}

.header_link{
  color: white;
}

.entries{
  width: 100%;
}

#entries_header{
  background: #feffdd;
  padding: 2px;
	font-size: 13px;
	font-family: Arial;
	text-align: left;
}

#entries_header td{
  padding: 2px;
}

.form_new{
  background: white;
  padding: 2px;
  border: solid 2px red;
	font-size: 11px;
	font-family: Arial;
	text-align: left;
}

.entry{
  /* display: none; */
  background: #ddffe3;
  padding: 2px;
  /* border: solid 2px red; */
	font-size: 11px;
	font-family: Arial;
	text-align: left;
  color: #000000;
  width: 100%;
}

.entry td{
  padding: 2px;
}

.form_new td{
  width: auto;
}

.form_new td input{
  border:1px solid #000000;
  color: grey;
}

#new_school{
  display: none;
}

#new_locale{
  display: none;
}

#new_area{
  display: none;
}

.menu{
  background: #000000;
  padding: 5px;
	font-size: 13px;
	font-family: Arial;
	text-align: left;
  color: #ffffff;
  width: 100%;
}

.filter{
  background: #f9f9f9;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
    
	font-size: 13px;
	font-family: Arial;
	text-align: left;
  color: #000000;
  width: 100%;
}

.filter_hide{
  display: none;
}

.menu_link{
  color: white;
}

