*, html {
	padding:0px;
	margin: 0px;
	z-index:0;
}

body {
	background:#ffffff;
	color:#000;
  padding: 0px;
  font: 16px Verdana, Helvetica, sans-serif;
}

#header {
	text-align:right;
	background:#000000;
	padding: 20px 20px 20px 20px;
  color: white;
  font: 14px Verdana, Helvetica, sans-serif;
}

.header_link{
  color: white;
}
